body {
      font-family: Arial, sans-serif;
      display: flex;
      margin: 0;
    }
   
    .main {
      flex-grow: 1;
      padding: 20px;
      margin-left: 220px;
    }
    .section {
      margin-bottom: 40px;
    }
    canvas {
      max-width: 100%;
    }
    .charts {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
    }