
/* guideline.blade.php */
          * {
      box-sizing: border-box;
      font-family: 'Arial', sans-serif;
    }

    html, body {
      margin: 0;
      height: 100%;
      
    }

    .container {
      display: flex;
      height: 100vh;
    }

    .content {
      flex: 1;
      padding: 30px;
      overflow-y: auto;
      margin-left: 250px;
    }

    .content h2 {
      font-size: 22px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .content h3 {
      margin-top: 30px;
      font-size: 18px;
    }

    ol {
      padding-left: 20px;
    }

    ol li {
      margin-bottom: 15px;
      line-height: 1.6;
    }

    .actions {
      margin-top: 20px;
      display: block;
      /* width: ; */
    }

    .btn {
      padding: 8px 16px;
      margin-right: 10px;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-weight: bold;
    }

    .btn:hover {
      background-color: #333;
    }
/* /guideline.blade.php */