.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 10px;
  height: 100vh;
  position: fixed; /* Make it fixed */
  left: 0;
  top: 0;
  overflow-y: auto; /* Allow scrolling if content is too long */
  z-index: 1000; /* Ensure it stays on top */
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.sidebar h2 {
  font-size: 16px;
  margin: 10px 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #ddd;
}