body {
  position: relative;
  overflow-x: hidden;
}
.menu {
  width: 150px;
  max-width: calc(100vw - 40px); /* Ensure 20px margin on both sides */
  border: 2px solid black;
  border-radius: 20px;
  background: grey;
  font-size: 15px;
  position: absolute;
  right: 30px;
  margin: 10px; /* Adds top/left spacing too */
  overflow-wrap: break-word;
  z-index: 1000;
}

ul li {
  list-style: none;
  padding: 10px;
  margin: 0;
}
ul li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
ul li a:hover {
  color: white;
  border-radius: 10px;
}

 @media (max-width: 768px) {
  .menu {
    width: 100px;
    font-size: 15px;
  
  }
  ul li {
    padding: 5px;
  }
  ul li a {
    font-size: 10px;
  }
}