body {
  position: relative;
  overflow-x: hidden;
}
.menu {
  width: 150px;
  max-width: calc(100vw - 40px); /* Ensure 20px margin on both sides */
  border: 2px solid white;
  border-radius: 20px;
  background: white;
  font-size: 15px;
  position: absolute;
  right: 30px;
  margin: 25px 0; /* Adds top/left spacing too */
  overflow-wrap: break-word;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 10px 10px;
}

ul li {
  list-style: none;
  padding: 10px;
  margin: 0;
}
ul li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
ul li a:hover {
  color: white;
  border-radius: 10px;
}
.logout-button{
  margin-top: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  color: maroon;
  background-color: lightgray;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.logout-button:hover{
  background-color: #ddd;
}

 @media (max-width: 768px) {
  .menu {
    width: 120px;
    font-size: 15px;
  
  }
  ul li {
    padding: 5px;
  }
  ul li a {
    font-size: 10px;
  }
}